In [1]:
import pandas as pd
import numpy as np

In [24]:
# load the initial dataset
initial_data = pd.read_csv("initial.csv")
# melt the data to long format
data_long = pd.melt(initial_data, id_vars=["Country Name", "Series Name", "Series Code", "Country Code"], var_name='year', value_name='value')

In [25]:
# extract year from the year column and convert to numeric
data_long["year"] = data_long["year"].str.extract("(\d+)").astype(int)
# pivot the data to wide format with one row per country-year
data_wide = data_long.pivot_table(index=["Country Name", "year"], columns="Series Name", values="value", aggfunc="first")
# reset the index
data_wide = data_wide.reset_index()

In [26]:
# rename columns for easier access
column_mapping = {
    'GDP per capita (current US$)': 'gdp_per_capita',
    'Adjusted net national income (current US$)': 'adj_national_income',
    'Consumer price index (2010 = 100)': 'cpi',
    'Exports of goods and services (% of GDP)': 'exports_percentage',
    'Gross capital formation (% of GDP)': 'cfp',
    'Gross capial formation (current US$)': 'capital_formulation',
    'Gross national expenditure (% of GDP)': 'national_expenditure',
    'International tourism, expenditures (current US$)': 'tourism_expenditure',
    'Labor force, total' : 'labor_force',
    'Land area (sq. km)': 'land_area',
    'Official exchange rate (LCU per US$, period average)': 'exchange_rate',
    'Population, total': 'million_population',
    'Trade (% of GDP)': 'trade_percentage',
    'Unemployment, total (% of total labor force) (national estimate)': 'unemployment',
    'Urban population (% of total population)': 'urban_pop_percentage',
    'Urban population' : 'urban_pop'
}
data_wide = data_wide.rename(columns=column_mapping)
# convert the data to numeric
data_wide = data_wide.apply(pd.to_numeric, errors='ignore')

data_wide.head()

Series Name,Country Name,year,adj_national_income,cpi,exports_percentage,gdp_per_capita,cfp,Gross capital formation (current US$),national_expenditure,tourism_expenditure,labor_force,land_area,exchange_rate,million_population,trade_percentage,unemployment,urban_pop,urban_pop_percentage
0,Argentina,1986,9.761888e+10,..,8.161978,3454.2963342861,17.461764,18546808510.6383,98.162078,..,..,2736690.0,0.000094,30748326,14.486033,4.4,26272907,85.445
1,Argentina,1987,9.700310e+10,..,7.873206,3492.69147434324,19.554866,21320560747.6636,99.702558,..,..,2736690.0,0.000214,31216453,15.448970,5.3,26797140,85.843
2,Argentina,1988,1.105834e+11,..,9.531613,4005.20125846019,18.640039,23659428571.4286,96.680233,..,..,2736690.0,0.000875,31690792,15.743459,6,27327921,86.233
3,Argentina,1989,6.201219e+10,..,13.058409,2382.33586178721,15.514698,11888860206.9259,93.521136,..,..,2736690.0,0.042334,32165766,19.637798,7.3,27859735,86.613
4,Argentina,1990,1.206357e+11,..,10.359537,4330.96819128783,13.996982,19785104979.8088,94.271784,..,..,2736690.0,0.487589,32637657,14.990859,7.06,28389540,86.984